.Notifications {
  padding: 1px 20px 5px 25px;
  border: 2px dashed red;
  position: absolute;
  top: 10px;
  width: 94vw;
}

li[data="default"] {
  color: blue;
}

li[data="urgent"] {
  color: red;
}

form input {
  margin: 10px;
}